<!DOCTYPE html>


<html>
    <head>
        <title>About</title>
        {{>header}}
<header class="bg-primary text-center py-5 mb-4">
  <div style="padding-top:20px;" class="container">
    <h1 class="font-weight-light text-white">Meet Me</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-12 col-md-12 mb-6">
      <div class="card border-0 shadow">
        <img src="../../public/images/arpit.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Arpit Kapoor</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
  <!-- /.row -->

</div>
    <script src="../../public/lib/jquery/jquery.min.js"></script>
  <script src="../../public/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../public/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/lib/easing/easing.min.js"></script>
  <script src="../../public/lib/superfish/hoverIntent.js"></script>
  <script src="../../public/lib/superfish/superfish.min.js"></script>
  <script src="../../public/lib/wow/wow.min.js"></script>
  <script src="../../public/lib/waypoints/waypoints.min.js"></script>
  <script src="../../public/lib/counterup/counterup.min.js"></script>
  <script src="../../public/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../public/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../../public/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../../public/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  {{!-- <script src="contactform/contactform.js"></script> --}}

  <!-- Template Main Javascript File -->
  <script src="../../public/js/main.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    </body>
</html>



<!-- /.co