<!DOCTYPE html>

<html>
    <head>
        {{>header}}
        <link rel="stylesheet" href="/css/error.css">
        <title>404</title>
    </head>
    <body>
        <div class="main-content">
            {{!-- <a href="javascript:history.back()">Go Back</a> --}}
        </div>
    </body>
</html>
