<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QuizOn</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" href="../../public/favicon/android-chrome-512x512.png">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../../public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../../public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../public/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../../public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../../public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../../public/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">QUIZZ</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="/quiz">QUIZ</a></li>
          <li><a href="/leaderboard">LeaderBoard</a></li>
          <li><a href="/log">GET IN</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/logout">{{user}}</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="../../public/images/intro-carousel/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>ARE YOU READY</h2>
                <p>Can You beat the greatest Quiz Masters</p>
                <a href="/quiz" class="btn-get-started scrollto">START QUIZ</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../../public/images/intro-carousel/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>ARE YOU READY</h2>
                <p>Can You beat the greatest Quiz Masters</p>
                <a href="#featured-services" class="btn-get-started scrollto">START QUIZ</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../../public/images/intro-carousel/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>ARE YOU READY</h2>
                <p>Can You beat the greatest Quiz Masters</p>
                <a href="#featured-services" class="btn-get-started scrollto">START QUIZ</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../../public/images/intro-carousel/4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>ARE YOU READY</h2>
                <p>Can You beat the greatest Quiz Masters</p>
                <a href="#featured-services" class="btn-get-started scrollto">START QUIZ</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../../public/images/intro-carousel/5.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>ARE YOU READY</h2>
                <p>Can You beat the greatest Quiz Masters</p>
                <a href="#featured-services" class="btn-get-started scrollto">START QUIZ</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Featured Services Section
    ============================-->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-bookmarks-outline"></i>
            <h4 class="title"><a href="">Answer as many questions as you can!!</a></h4>
            <p class="description">Choose from a variety of Categories to test your Quizzing Skills</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-stopwatch-outline"></i>
            <h4 class="title"><a href="">You Got 100 Seconds</a></h4>
            <p class="description">Put your reflexes to test. How Fast are you?</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">Conquer The LeaderBoard</a></h4>
            <p class="description">Beat the best quizzers from around the world to enter the Hall Of Fame!!!</p>
          </div>

        </div>
      </div>
    </section><!-- #featured-services -->

  
    

  </main>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../../public/lib/jquery/jquery.min.js"></script>
  <script src="../../public/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../../public/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/lib/easing/easing.min.js"></script>
  <script src="../../public/lib/superfish/hoverIntent.js"></script>
  <script src="../../public/lib/superfish/superfish.min.js"></script>
  <script src="../../public/lib/wow/wow.min.js"></script>
  <script src="../../public/lib/waypoints/waypoints.min.js"></script>
  <script src="../../public/lib/counterup/counterup.min.js"></script>
  <script src="../../public/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../public/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../../public/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../../public/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  {{!-- <script src="contactform/contactform.js"></script> --}}

  <!-- Template Main Javascript File -->
  <script src="../../public/js/main.js"></script>

</body>
</html>
